@import "../../../styleVariablesAndMixines/pages.scss";
@import "../../../styleVariablesAndMixines/fontSizes.scss";
@import "../../../styleVariablesAndMixines/headerAndFooter.scss";

.container {
  @extend %page-properties;
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
  .title {
    width: 100%;
    text-align: center;
    line-height: calc($font-size-large * 2);
    font-size: $font-size-large;
  }
  .boardsContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: start;
    gap: 10px;
    width: 100%;
    height: 100%;
  }
}
