@import "../../../styleVariablesAndMixines/pages.scss";
@import "../../../styleVariablesAndMixines/fontSizes.scss";
@import "../../../styleVariablesAndMixines/headerAndFooter.scss";

.icon_loader_wrapper {
  height: 75vh;
  display: flex;
}
.icon_loader {
  width: 3.5rem;
  height: 3.5rem;
  border: 0.2rem solid #a97862;
  border-top: 0.25rem solid #bd5341;
  border-radius: 100%;
  position: relative;
  left: calc(50% - 1.75rem);
  top: calc(50% - 1.75rem);
  animation: spin 1s infinite linear;
}
@keyframes spin {
  from{
    transform: rotate(0deg);
  }to{
    transform: rotate(360deg);
  }
}

.container {
  @extend %page-properties;
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
  background-color: #fbebd8;
  .title {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    line-height: calc($font-size-large * 2);
    font-size: $font-size-large;
    padding: 1rem 30px;
    color: #501414;
  }
  .boardsContainer {
    max-width: 1280px;
    margin: 0 auto;
    padding: 10px 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: start;
    gap: 10px;
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 1275px) {
  .container {
    .boardsContainer {
      max-width: 965px;
    }
  }
}
@media (max-width: 970px) {
  .container {
    .boardsContainer {
      max-width: 660px;
    }
  }
}
@media (max-width: 664px) {
  .container {
    .boardsContainer {
      justify-content: center;
    }
  }
}
