@import "../../../../styleVariablesAndMixines/fontSizes.scss";
$clr-title: #fd9800;
$clr-title-hover: #e28a06;

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-right: auto;
}
.link {
    cursor: pointer;
}
.logo_title {
    display: inline-block;
    font-size: $font-size-large;
    padding: 0.25rem 0 0 0.5rem;
    font-weight: 700;
    color: $clr-title;
}
.link:hover .logo_title {
    color: $clr-title-hover;
    transition: 0.2s;
}
