@import "../../../styleVariablesAndMixines/fontSizes.scss";

.container {
  width: 295px;
  height: 150px;
  cursor: pointer;
  background-color: #9b612e;
  box-shadow: 0px 2px 7px rgb(0 0 0 / 70%);
  padding: 1rem;
  display: flex; 
  flex-direction: column;
  justify-content: space-between;
  border-radius: 0.5rem;
  &:hover {
    background-color: #764a23;
    transition: 0.2s;
  }
  .title {
    font-size: 1.6rem;
    color: #ff9900;
    min-height: 3.5rem;
    line-height: 1.1;
    text-shadow: 2px 2px 3px rgb(100 100 100 / 70%);
  }
  .subtitle {
    font-size: $font-size-small;
    color: cornsilk;
  }
  .delete {
    background-color: #9dedff;
    width: 60px;
    height: 30px;
    align-self: end;
    border-radius: 0.5rem;
    color: black;
    &:hover {
    background-color: #ed2612;
    transition: 0.3s;
    }
  }
}

.usersSelect {
  background: inherit;
  color: cornsilk;
  border-bottom: 1px solid;
  font-family: inherit;
  font-size: 1rem;
}
.userText {
  display: none;
}
.userItem {
  color: #ff9900;
  background-color: #9b612e;
}
