@import "../../../styleVariablesAndMixines/headerAndFooter.scss";

.container {
  @include base-style;
  min-height: $footer-height;
  margin-top: auto;
  border-top: 2px solid black;
  .wrapper {
    @include base-wrapper;
    justify-content: space-between;
  }
}
