@import "../../../styleVariablesAndMixines/headerAndFooter.scss";

.container {
  @include base-style;
  min-height: $footer-height;
  margin-top: auto;
  border-top: 2px solid black;
  justify-content: space-between;
}
