.modal__container{
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    top: 0;
    left:0;
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal__content{
    padding: 20px;
    border-radius: 12px;
    background-color: white;
    // width: 700px;
    // height: 700px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap:1rem;
    &__buttons{
        display: flex;
    }
}

.confirmButton{
    display: block;
      margin-left: 1rem;
      padding: 0.75rem 2rem;
      background-color: #9dedff;
      font-family: inherit;
      font-weight: inherit;
      border-radius: 0.5rem;
      outline: none;
      border: none;
      cursor: pointer;
      transition: background-color 200ms ease-in;
      text-align: center;
      &:hover {
        background-color: #7bdff6;
      }
}


@media only screen and (max-width: 769px){
    .modal-content{
        flex-direction:column;
        & .close-modal{
            margin-left: auto;
        }
    }
}