@import "../../../styleVariablesAndMixines/fontSizes.scss";
$clr-active: #fd9800;

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10px;
  .link,
  .button {
    color: #ddd7c7;
    font-size: 1.4rem;
    transition: 0.3s;
    background-color: inherit;
    line-height: $font-size-middle;
    padding: 0.5rem;
    border-radius: 0.5rem;
    &:hover {
      color: #ffffff;
      background-color: #4c3615;
    }
    &_active {
      color: $clr-active;
      cursor: default;
    }
    &_active:hover {
      color: $clr-active;
      background-color: inherit;
    }
  }
}

@media (max-width: 910px) {
  .overlay {
    background-color: rgba(0,0,0,.5);
    position: fixed;
    inset: 0;
    transition: 0.7s;
  }
  .container,
  .container_opened_menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    position: fixed;
    z-index: 5;
    top: 0;
    padding: 5rem 2rem 2rem;
    background: #643920;
    transform: translateX(30px);
    min-width: 220px;
    height: 100vh;
    transition: 0.7s;
    .link,
    .button {
      color: black;
      font-size: 1.4rem;
      transition: 0.3s;
      line-height: 1.2;
      background-color: inherit;
      text-align: left;
      padding: 0.5rem;
      &:hover {
        color: #ffffff;
      }
      &_active {
        color: $clr-active;
        cursor: default;
      }
      &_active:hover {
        color: $clr-active;
      }
    }
  }
  .container {
    right: -21rem;
  }
  .container_opened_menu {
    right: 2rem;
  }
}
@media (max-width: 400px) {
  .container,
  .container_opened_menu {
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  .container {
    right: -30rem;
  }
}
