@import "../../../styleVariablesAndMixines/pages.scss";
@import "../../../styleVariablesAndMixines/fontSizes.scss";

.container {
  @include page-properties;
  display: flex;
  flex-direction: column;
  .title {
    width: 100%;
    text-align: center;
    line-height: calc($font-size-large * 2);
    font-size: $font-size-large;
    flex-grow: 0;
  }
  .columnsContainer {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
  }
  .button {
    width: 90px;
    height: 30px;
    flex-grow: 0;
    margin-left: auto;
  }
}
