.container {
  z-index: 6;
  .body {
    border: solid 1px grey;
    border-radius: 999px;
    display: inline-flex;
    justify-content: flex-start;
    cursor: pointer;
    width: 48px;
    background-color: #ddd;
    box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    background-image: url("../../../../assets/flags/UK.png");
    background-size: contain;
    &RU {
      background-image: url("../../../../assets/flags/Russia.png");
    }
    .toggle {
      border-radius: 50%;
      border: solid 1px grey;
      width: 24px;
      height: 24px;
      background-color: white;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
      box-sizing: border-box;
      transform: translateX(0%);
      transition: transform 0.4s ease;
      &RU {
        transform: translateX(100%);
      }
    }
  }
}
