@import "../../../styleVariablesAndMixines/headerAndFooter.scss";

.container {
  @include base-style;
  min-height: $header-height;
  margin-bottom: auto;
  border-bottom: 2px solid black;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  transition: 0.3s;
  &_scrolled {
    background-color: #9b612e;
  }
  .wrapper {
    @include base-wrapper;
    gap: 15px;
    justify-content: end;
  }
}
