@import "../../../styleVariablesAndMixines/headerAndFooter.scss";

.container {
  @include base-style;
  height: $header-height;
  margin-bottom: auto;
  border-bottom: 2px solid black;
  align-items: center;
  justify-content: end;
}
