@import "../../../styleVariablesAndMixines/fontSizes.scss";

.container {
  min-width: 300px;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: scroll;
  background: #9b612e;
  padding: 0.5rem 0.1rem 0.5rem 0.5rem;
  border-radius: 0.5rem;
  margin-right: 1rem;
  .title {
    font-size: $font-size-middle;
  }
  .tasksContainer {
    width: 100%;
    height: 100%;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
  }
}
